@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hey Stu</h1>
    <h1>Soil Moisture Monitoring Server (janky ass prototype)</h1>
<form id="form1" method="get" action="/Home/DownloadSoilResults" 
    enctype="application/x-www-form-urlencoded">
    <div>
        <label for="status">Soil data available in .txt below:</label>
    </div>
    <div>
        <input type="submit" value="Download Soil Data" />
    </div>
</form>
</div>
